# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Outputs
outputs/
outputs_batch/
results/
runs/
*.log

# Large weights (不要直接提交；建议 LFS 或手动下载)
CSD_MT/CSD_MT/weights/
CSD_MT/faceutils/face_parsing/res/cp/
retouchformer/release_model/

# OS
.DS_Store
Thumbs.db
